@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* ===== Animations ===== */
  
  .animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out;
  }

  .animate-fadeInSlow {
    animation: fadeIn 1.2s ease-out;
  }

  .animate-slideInRight {
    animation: slideInRight 0.5s ease-out;
  }

  .animate-slideInLeft {
    animation: slideInLeft 0.5s ease-out;
  }

  .animate-fadeInUp,
  .animate-fade-in-up {
    animation: fadeInUp 1.5s ease-in-out;
  }

  .animate-fade-in-down {
    animation: fade-in-down 1s ease-out;
  }

  .animate-fade-in-left,
  .animate-slideInLeft {
    animation: slideInLeft 1s ease-out;
  }

  .animate-fade-in-right,
  .animate-slideInRight {
    animation: slideInRight 1s ease-out;
  }

  .animate-zoomIn {
    animation: zoomIn 1s ease-out;
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }

  /* ===== Keyframes ===== */

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* ===== Font Styles ===== */

  .dancing-script-hero-heading {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
  }

  .ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }

  .ibm-plex-mono-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: italic;
  }

  .ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
}
